{% extends 'base.html.twig' %}

{% block title %}Art Studio Prague{% endblock %}

{% block body %}
    <div class="container" id="content">
        <div class="row justify-content-center g-3">


            <div class="col-12 col-md-10">

                <div class="vstack gap-5">
                    <div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
                        <div class="carousel-inner d-flex gap-5 rounded">
                            <div class="carousel-item active">
                                <img src="{{ asset('images/visionary-exhibition-east.jpg') }}"
                                     class="carousel-img rounded" alt="...">

                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('images/mentalities-in-visionary.jpg') }}"
                                     class="carousel-img rounded" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('images/visionary-west-wing.jpg') }}" class="carousel-img rounded"
                                     alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>

                    {% for artwork in artworks %}
                        <div class="artwork">
                            <img src="{{ asset('uploads/artwork/' ~ artwork.artworkImageName) }}"
                                    class="img-fluid" alt="..." />
                            <div class="plaque">
                                <div class="title">{{ artwork.title|title }}</div>
                                <div class="sub-title">
                                    {{ artwork.description }}
                                </div>
                                <div class="price">
                                    <a class="link-dark" href="{{ path('purchase') }}">Purchase this work</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="text-center text-muted">Nothing but empty</div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
{% endblock %}
